.navbar-default {
    background-color: #2f4050;
}

.navbar-static-side {
    z-index: 2001;
    width: 220px;
    height: 100%;
    position: fixed;
}

.arrow {
    float: right;
}
.fa.arrow:before {
    content: "\f104";
}
.active > a > .fa.arrow:before {
    content: "\f107";
}

.navbar-static-side ul > li > a {
    color: #a7b1c2;
    font-weight: 600;
    padding: 14px 20px 14px 25px;
}

.navbar-static-side ul > li.active {
    border-left: 4px solid #19aa8d;
    background: #293846;
}

.nav.nav-second-level > li.active {
    border: none;
}

.navbar-static-side ul > li.active > a {
    color: #ffffff;
}

.nav-second-level li, .nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding: 7px 10px 7px 10px;
    padding-left: 52px;
}

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus {
    background-color: #293846;
    color: white;
}

.navbar-static-side ul .open > a,
.navbar-static-side ul .open > a:hover,
.navbar-static-side ul .open > a:focus {
    background: #fff;
}

.navbar-static-side ul .nav-third-level li a {
    padding-left: 62px;
}

.navbar-static-side {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.page-wrapper {
    margin: 0 0 0 220px;
}

